<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1> Sejam bem vindos ao meu blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus beatae accusantium cupiditate magnam nisi ipsum libero reprehenderit excepturi sunt aliquid explicabo voluptates repellat necessitatibus fugiat sequi rem, eaque, minima quibusdam!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit architecto provident accusantium fugiat, vel debitis suscipit. In fuga odit cumque. Dolore corporis dicta omnis eveniet et earum repudiandae nam debitis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ratione, itaque totam assumenda laboriosam vel corrupti officiis rerum laudantium praesentium beatae id. Maiores quam doloribus nemo quia. Voluptatibus, nostrum voluptate.
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
        </div>
    </div>


