<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://4.bp.blogspot.com/-6vXpSMfvurI/WGL7rvKArpI/AAAAAAAAT9A/2oDwaq8-J6A6ETAwFchYhsL2yyuUuylcQCLcB/s1600/tumblr_ntjmtg4z0z1qdiw47o1_r1_250.gif" alt="Imagem de capa do card">
    </div>  

    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Alex Cesar</h5>
      <p class="card-text text-center text-monospace">Aluno de Desenvolvimento Web Front-end na generation Brasil.</p>

      <a href="https://www.linkedin.com/in/alexcesarn/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

      <a href="https://github.com/AlexCesarNascimento" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
</div>
